@font-face {
    font-family: 'Balqis';
    src: url('../fonts/balqis.woff2') format('woff2'),
        url('../fonts/balqis.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
    /*улучшает скорость загрузки*/
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Light.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
    /*улучшает скорость загрузки*/
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    /*улучшает скорость загрузки*/
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    /*улучшает скорость загрузки*/
    font-display: swap;
}

/*Поменять модель паддингов - 
поля считаются в сумме с шириной блока (?)*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    color: #000000;
    font-family: 'RobotoCondensed-Light';
    font-size: 18px;
    line-height: 21px;
}


.container {
    /*для фиксации контента по определенной ширине*/
    max-width: 1230px;
    /*для равных отступов по краям*/
    margin: 0 auto;
    /* внутренние поля (стандартные)*/
    padding: 0 15px;
}

.page-section {
    margin: 200px auto;
    max-width: 1920px;
    /* слайдер не выйдет за эту ширину*/
}

.title {
    font-size: 96px;
    line-height: 128px;
    font-family: 'Balqis';
    color: #E2AB3F;
    font-weight: 300;
    margin-bottom: 100px;
}

.title span {
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-LightItalic';
    color: #000000;
    display: block;
    margin-top: -30px;
    margin-left: 185px;
}

header {
    background-image: url("../images/header-bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    /* нижние две строчи для лучшего соответствия с макетом, чтобы видно было девушку,
     а она внизу изображения*/
    background-size: cover;
    background-position: bottom center;
}

.header__top {
    display: flex;
    justify-content: space-between;
    /*отступ сверху*/
    padding-top: 72px;
    font-family: 'RobotoCondensed-Regular';
    font-size: 24px;
    line-height: 28px;
}

.nav__menu_item {
    display: inline-block;
}

/*следующая комбинация позволяет пропустить (нашёл один+ нашел еще один, и потом маргин!) 
пункт меню и следующим двум сделать отступ слува*/
.nav__menu_item+.nav__menu_item {
    margin-left: 52px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav__menu-link:hover {
    text-decoration: underline;
}

/*Сформировать место для иконки телефона и попутно расширили место 
кликабельности для набора номера*/
.header__phone {
    padding-left: 40px;
    position: relative;
}

/*иконка телефона добавляется как псевдоэлемент (на позировании)*/
.header__phone::before {
    content: "";
    /*позиция относительно родителя, у родителя см. position*/
    position: absolute;
    background-image: url(../images/phone-icone.svg);
    width: 30px;
    height: 30px;
    left: 0;
    /*при использовании position можно указать, что слева отступ 0*/
}

.header__title {
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    line-height: 334px;
    font-family: 'Balqis';
    font-weight: 300;

}

.header__title span {
    display: block;
    text-align: right;
    font-family: 'RobotoCondensed-LightItalic';
    font-size: 56px;
    line-height: 66px;
    /*двигаем-корректируем-"присобачиваем" как в макете*/
    margin-top: -66px;
    margin-right: 80px;
}

.fairy-tail__slider {
    width: 50%;
    /*уже есть/сгенерирован js position: relative*/
}

.slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.fairy-tail__inner, .our-trip__inner {
    position: relative;
}

.fairy-tail__container,
.our-trip__container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fairy-tail__body {
    width: 50%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.fairy-tail__body-title {
    font-family: 'RobotoCondensed-Regular';
}

.fairy-tail__note {
    padding: 10px 0;
}

fairy-tail__title span {
    margin-left: 185px;
}

.our-trip__slider {
    width: 50%;
    margin-left: auto;
}

.our-trip__title span {
    margin-left: 240px;
}

.our-trip__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
}

.our-trip__list {
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}

.our-trip__list li:first-child {
    font-family: 'RobotoCondensed-Regular';
    margin-bottom: 20px;
}

.our-trip__btn {
    font-family: 'RobotoCondensed-Light';
    font-size: 24px;
    line-height: 28px;
    padding: 11px 53px;
    border: 1px solid #E2AB3F;
}
.our-trip__content{
    width: 50%;
    padding-right: 55px; /*ограничить ширину текста*/
}
.hotel__title span{
    margin-left: 120px;
}
.hotel-inner{
 display: flex;
}

.hotel__image{
    margin-right: 100px;
}
.hotel__note{
    margin-bottom: 20px;
}

.hotel__gallery{
margin-top: 80px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.hotel__gallery a{
    margin-top: 50px;
}