@font-face {
    font-family: 'Balqis';
    src: url('../fonts/balqis.woff2') format('woff2'),
        url('../fonts/balqis.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
    /*улучшает скорость загрузки*/
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Light.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
    /*улучшает скорость загрузки*/
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    /*улучшает скорость загрузки*/
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    /*улучшает скорость загрузки*/
    font-display: swap;
}

/*Поменять модель паддингов - 
поля считаются в сумме с шириной блока (?)*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    color: #000000;
    font-family: 'RobotoCondensed-Light';
    font-size: 18px;
    line-height: 21px;
}


.container {
    /*для фиксации контента по определенной ширине*/
    max-width: 1230px;
    /*для равных отступов по краям*/
    margin: 0 auto;
    /* внутренние поля (стандартные)*/
    padding: 0 15px;
}

.page-section {
    margin: 200px auto;
    max-width: 1920px;
    /* слайдер не выйдет за эту ширину*/
}

.title {
    font-size: 96px;
    line-height: 128px;
    font-family: 'Balqis';
    color: #E2AB3F;
    font-weight: 300;
    margin-bottom: 100px;
}

.title span {
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-LightItalic';
    color: #000000;
    display: block;
    margin-top: -30px;
    margin-left: 185px;
}

header {
    background-image: url("../images/header-bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    /* нижние две строчи для лучшего соответствия с макетом, чтобы видно было девушку,
     а она внизу изображения*/
    background-size: cover;
    background-position: bottom center;
}

.header__top {
    display: flex;
    justify-content: space-between;
    /*отступ сверху*/
    padding-top: 72px;
    font-family: 'RobotoCondensed-Regular';
    font-size: 24px;
    line-height: 28px;
}

.nav__menu_item {
    display: inline-block;
}

/*следующая комбинация позволяет пропустить (нашёл один+ нашел еще один, и потом маргин!) 
пункт меню и следующим двум сделать отступ слува*/
.nav__menu_item+.nav__menu_item {
    margin-left: 52px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav__menu-link:hover {
    text-decoration: underline;
}

/*Сформировать место для иконки телефона и попутно расширили место 
кликабельности для набора номера*/
.header__phone {
    padding-left: 40px;
    position: relative;
}

/*иконка телефона добавляется как псевдоэлемент (на позировании)*/
.header__phone::before {
    content: "";
    /*позиция относительно родителя, у родителя см. position*/
    position: absolute;
    background-image: url(../images/phone-icone.svg);
    width: 30px;
    height: 30px;
    left: 0;
    /*при использовании position можно указать, что слева отступ 0*/
}

.header__title {
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    line-height: 334px;
    font-family: 'Balqis';
    font-weight: 300;

}

.header__title span {
    display: block;
    text-align: right;
    font-family: 'RobotoCondensed-LightItalic';
    font-size: 56px;
    line-height: 66px;
    /*двигаем-корректируем-"присобачиваем" как в макете*/
    margin-top: -66px;
    margin-right: 80px;
}

.fairy-tail__slider {
    width: 50%;
    /*уже есть/сгенерирован js position: relative*/
}

.slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.fairy-tail__inner,
.our-trip__inner {
    position: relative;
}

.fairy-tail__container,
.our-trip__container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fairy-tail__body {
    width: 50%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.fairy-tail__body-title {
    font-family: 'RobotoCondensed-Regular';
}

.fairy-tail__note {
    padding: 10px 0;
}

.fairy-tail__title span {
    margin-left: 185px;
}

.our-trip__slider {
    width: 50%;
    margin-left: auto;
}

.our-trip__title span {
    margin-left: 240px;
}

.our-trip__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
}

.our-trip__list {
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}

.our-trip__list li:first-child {
    font-family: 'RobotoCondensed-Regular';
    margin-bottom: 20px;
}

.our-trip__btn {
    font-family: 'RobotoCondensed-Light';
    font-size: 24px;
    line-height: 28px;
    padding: 11px 53px;
    border: 1px solid #E2AB3F;
}

.our-trip__content {
    width: 50%;
    padding-right: 55px;
    /*ограничить ширину текста*/
}

.hotel__title span {
    margin-left: 120px;
}

.hotel-inner,
.price-inner,
.footer__inner,
.request__inner {
    display: flex;
}

.hotel__image {
    margin-right: 100px;
  }
.hotel-content{
    max-width: 55%;
}
.hotel__note {
    margin-bottom: 20px;
}

.hotel__gallery {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel__gallery a {
    margin-top: 50px;
}

.price__include-title,
.price__not-include-title,
.request__message {
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular';
    margin-bottom: 50px;
}

.price__include {
    margin-right: 70px;
    width: 530px;
}

.price__list-item {
    margin-bottom: 20px;
}

.price {
    background-image: url(../images/balloon.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.price__not-iclude {
    width: 30%;
}

.price__title span {
    margin-left: 105px;
}

.request__inner,
.footer__inner {
    justify-content: space-between;
}

.request__content {
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;*/
}

.request__date span,
.request__price span {
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Light';
    color: #000000;
    display: block;
    ;
}

.request__date span,
.request__price span {
    margin-left: 195px;
    margin-top: -20px;
}

.request__price {
    margin-left: 120px;
}

.request__date {
    margin-bottom: 50px;

}

.request__info {
    margin-top: 10px;
}

.request__form {
    width: 380px;
    margin: 0 auto;
}

.request__form-input {
    display: block;
    width: 383px;
    height: 50px;
    border: 1px solid #E2AB3F;
    margin-bottom: 20px;
    padding: 0 30px;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    font-family: 'RobotoCondensed-Light';
}

::placeholder {
    color: #000000;
}

.request__form-btn {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 10px 45px;
    background: #FFFFFF;
    border: 1px solid #E2AB3F;
    font-family: 'RobotoCondensed-Light';
    text-transform: uppercase;
    cursor: pointer;
}

.footer {
    background-image: url(../images/footer-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 96px;
}

.footer__inner {
    align-items: center;
}

.footer__contacts {
    width: 356px;
    height: 527px;
    background-image: url(../images/balloon-icons.png);
    background-repeat: no-repeat;
    text-align: center;
}

.footer__note {
    font-size: 96px;
    line-height: 69px;
    font-family: 'Balqis';
}

.footer__title {
    color: #E2AB3F;
    font-size: 86px;
    line-height: 115px;
    font-family: 'Balqis';
    margin-bottom: 50px;
    margin-top: 70px;
    }

.footer__phone,
.footer__email {
    display: inline-block;
    /*место для иконки*/
    padding-left: 40px;
    position: relative;
}

.footer__email {
    margin-top: 20px;
    margin-bottom: 38px;
}

.footer__phone::before,
.footer__email::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -5px;
}
 
.footer__phone::before {
    background-image: url(../images/footer-phone-icon.svg);
}

.footer__email::before {
    background-image: url(../images/footer-mail-icon.svg);
}

.footer__social img{
    margin-right: 7px;
    }